@charset "UTF-8";
*{
	margin:0;
	padding:0;
}

div#color > a
{
	display:block;
text-decoration: none;
 clear:both;
height: 100%;
	width: 100%;
}

 
  html, body, #map_canvas {
                margin: 0;
                padding: 0;
                height:100%;
				width:100%;
				scrollbar-face-color: #ebebeb;
            }
 
#tabs_content_container{
	background-color: #FFF;
	width: 205px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	z-index: 2;
	position: relative;
	font-size: 10px;
	color: #54778E;
	padding-top: 15px;
	padding-left: 20px;
	margin-top: 6px;
	height: 100%;
	padding-right: 20px;
	padding-bottom: 15px;
}
.slider_btn {
	height: 23px;
	width: 23px;
	z-index: 1;
	position: relative;
	top: -210px;
	left: 245px;
	-moz-box-shadow: 0 0 5px #9e9d9d;
	-webkit-box-shadow: 0 0 5px #9e9d9d;
	box-shadow: 0 0 5px #9e9d9d;
}
#tabs li.active a {
	background-color: #FFF;
	height: 20px;
	width: 63px;
	-moz-box-shadow: 0 10px 0 #fff, 0 0 5px #888;
	-webkit-box-shadow: 0 10px 0 #fff, 0 0 5px #888;
	box-shadow: 0 10px 0 #fff, 0 0 5px #888;
	z-index: 3;
	position: relative;
	font-size: 11px;
	color: #043c5d;
	padding-top: 15px;
	font-family: 'Museo slab', sans-serif;
	padding-left: 12px;
	margin-top: 0px;
}
#tabs li.active a:hover {
	text-decoration: none;
	position: relative;
	font-size: 11px;
	color: #043c5d;
	background-color: #fff;
	display: block;
	
}

#tabs li a.icon_accept {
	background-color: #00B3C0;
	height: 25px;
	width: 65px;
	-moz-box-shadow: 0 10px 0 #fff, 0 0 5px #888;
	-webkit-box-shadow: 0 10px 0 #fff, 0 0 5px #888;
	box-shadow: 0 10px 0 #fff, 0 0 5px #888;
	z-index: 2;
	position: relative;
	margin-top: 10px;
	font-size: 11px;
	color: #FFF;
	font-family: 'Museo slab', sans-serif;
	z-index: 2;
}
#tabs li a.icon_accept:visited {
	background-color: #FFF;
	height: 20px;
	width: 63px;
	-moz-box-shadow: 0 10px 0 #fff, 0 0 5px #888;
	-webkit-box-shadow: 0 10px 0 #fff, 0 0 5px #888;
	box-shadow: 0 10px 0 #fff, 0 0 5px #888;
	z-index: 3;
	position: relative;
	font-size: 11px;
	color: #043c5d;
	padding-top: 15px;
	padding-left: 12px;
	font-family: 'Museo slab', sans-serif;
}
#tabs li a.icon_accept:hover{
	text-decoration: none;
	position: relative;
	font-size: 11px;
	color: #043c5d;
	background-color: #fff;
	display: block;
	
}
#tabs {
	list-style: none;
	height: 30px;
	width: 235px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#tabs li {
	display: block;
	float: left;
}
#tabs li.selected {
	z-index: 2;
}
#tabs li a {
	text-decoration: none;
	position: relative;
	font-size: 11px;
	color: #FFFFFF;
	font-family: 'Museo slab', sans-serif;
	behavior: url(PIE.htc);
	height: 21px;
	width: 60px;
	behavior: url(PIE.htc);
	background-color: #00B3C0;
	display: block;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
	-moz-box-shadow: 0 10px 0 #fff, 0 0 5px #888;
	-webkit-box-shadow: 0 10px 0 #fff, 0 0 5px #888;
	box-shadow: 0 10px 0 #fff, 0 0 5px #888;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#tabs li a:hover {
	text-decoration: none;
	position: relative;
	font-size: 11px;
	color: #FFF;
	background-color: #043c5d;
	display: block;
	
}
#tabs2 li a:hover {
	text-decoration: none;
	position: relative;
	font-size: 11px;
	color: #FFF;
	font-family: 'Museo slab', sans-serif;
	behavior: url(PIE.htc);
	height: 21px;
	width: 60px;
	behavior: url(PIE.htc);
	background-color: #043c5d;
	display: block;
	margin: 0px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
}
.tab_content {
	display: none;
	font-family: 'Museo slab', sans-serif;
	font-size: 11px;
}

 
#tabs_wrapper {
	width: 245px;
}
#tabs_container{
	width: 250px;
	height: 30px;
	vertical-align: bottom;
	display: block;
}
.content .selector {
	font-size: 10px;
	color: #7493A5;
}
.styled-select select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 34px;
}
#colorboard ul li {
	display: block;
	float: left;
	height: 12px;
	width: 12px;
	list-style-type: none;
}
.styled-select {
   width: 240px;
   height: 34px;
   overflow: hidden;
   background: url(new_arrow.png) no-repeat right #ddd;
}
#target { padding: 5px; border: 1px solid #000; width:200px; float:right }
.result {
	height: 100%;
	width: 220px;
	padding-top: 10px;
	list-style-type: none;
	background-color: #FFF;
	font-family: 'Museo slab', sans-serif;
	font-size: 11px;
}
#text {
	background-color: #0A3D5F;
	height: 18px;
	width: 65px;
	color: #FFF;
	padding-top: 2px;
	padding-left: 5px;
	font-family: 'Museo slab', sans-serif;
	float: left;
}
.menu li {
	display: inline;
	list-style-type: none;
	float: left;
}
.menu {
	height: 20px;
	width: 97px;
	background-color: #0A3D5F;
	float: left;
	margin-right: 10px;
	margin-top: 5px;
}
.image1 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.image2 {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.imgbox {
	width: 100%;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #666;
}
.caption {
	margin-top: 7px;
	font-family: 'Museo slab', sans-serif;
	font-size: 11px;
	color: #0A3D5F;
	height: 25px;
	width: 150px;
	vertical-align: middle;
	display: block;
}
#color {
	height: 20px;
	width: 7px;
	background-color: #E5E5E5;
	float: left;
}
#close buttom {
	height: 20px;
	width: 20px;
	float: left;
}
.images {
	width: 150px;
}
#colorboard {
	padding: 4px;
	height: 36px;
	width: 36px;
	border: 1px solid #B5B5B5;
	position: relative;
	-moz-box-shadow: 0 0 3px #9e9d9d;
	-webkit-box-shadow: 0 0 3px #9e9d9d;
	box-shadow: 0 0 3px #9e9d9d;
	background-color: #FFF;
}
#color1{
	display: block;
	background-color: #FFD140;
	height: 12px;
	width: 12px;
}
#color2{
	display: block;
	background-color: #F3891E;
	height: 12px;
	width: 12px;
}
#color3{
	display: block;
	background-color: #43C0C8;
	height: 12px;
	width: 12px;
}
#color4{
	display: block;
	background-color: #A4CE3B;
	height: 12px;
	width: 12px;
}
#color5{
	display: block;
	background-color: #EA3392;
	height: 12px;
	width: 12px;
}
#color6{
	display: block;
	background-color: #1F7BC0;
	height: 12px;
	width: 12px;
}
#color7{
	display: block;
	background-color: #00884F;
	height: 12px;
	width: 12px;
}
#color8{
	display: block;
	background-color: #7A2A90;
	height: 12px;
	width: 12px;
}
#color9{
	display: block;
	background-color: #000;
	height: 12px;
	width: 12px;
}
 p {
	width:142px;
	margin-bottom: 20px;
	background-color: #FFF;
	-moz-box-shadow: 0 0 5px #9e9d9d;
	-webkit-box-shadow: 0 0 5px #9e9d9d;
	box-shadow: 0 0 5px #9e9d9d;
	padding-top: 15px;
	padding-right: 4px;
	padding-bottom: 10px;
	padding-left: 4px;
	z-index: 1;
 }
 
#slide_container {
	width:142px;
	margin-bottom: 20px;
	background-color: #FFF;
	-moz-box-shadow: 0 0 5px #9e9d9d;
	-webkit-box-shadow: 0 0 5px #9e9d9d;
	box-shadow: 0 0 5px #9e9d9d;
	padding-top: 15px;
	padding-right: 4px;
	padding-bottom: 10px;
	padding-left: 4px;
	z-index: 1;
 }
 
button2 {
	width: 150px;
	height: 41px;
	font-family: sans-serif;
	font-size: 16px;
	color: #f2f2f2;
	text-transform: uppercase;
	display:block;
	border:0 none;
	cursor:pointer;
	outline:none;
	background-image: url(../images/mymap_btn.jpg);
	background-position: left top;
	-moz-box-shadow: 0 0 5px #9e9d9d;
	-webkit-box-shadow: 0 0 5px #9e9d9d;
	box-shadow: 0 0 5px #9e9d9d;
	z-index: 3;
	position: relative;
}
	button2::-webkit-input-placeholder  {
    	color: #a1b2c3; text-shadow: 0px -1px 0px #38506b;
	}
	button2:-moz-placeholder {
	    color: #a1b2c3; text-shadow: 0px -1px 0px #38506b;
	}
 
.button
 {
	background-color: #0A3D5F;
	border-color: #0A3D5F;
	color: white;
	font-family: 'Museo slab', sans-serif;
	font-size: 12pt;
	height: 40px;
	width: 150px;
	padding-top: -5px;
	padding-left: -5px;
}

.datebox {
	color: #0A3D5F;
	height: 21px;
	width: 60px;
	margin-right: 4px;
	text-align: center;
	padding-top: 2px;
	font-family: 'Museo slab', sans-serif;
	font-size: 8pt;
	border: 1px solid #9BB8C3;
	margin-top: 7px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 2px;
	margin-bottom: 5px;
}
.datebox1 {
	color: #0A3D5F;
	height: 21px;
	width: 60px;
	margin-right: 4px;
	text-align: center;
	padding-top: 2px;
	font-family: 'Museo slab', sans-serif;
	font-size: 8pt;
	border: 1px solid #9BB8C3;
	margin-top: 7px;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 5px;
	padding-bottom: 2px;
	margin-bottom: 5px;
}

#datecontainer {
	text-align: center;
	width: 142px;
}

.gallerybtn {
	margin-top: 15px;
	margin-bottom: 0px;
}

.text {
	width: 105px;
	float: left;
	line-height: 14px;
	color: #043C5D;
	font-family: 'Museo slab', sans-serif;
	font-size: 10px;
	display: block;	
}

.control2-listitem-text {
	width: 137px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999;
	height: 100%;
	font-family: 'Museo slab', sans-serif;
	font-size: 10px;
	color: #0A3D5F;
	padding-bottom: 8px;
	padding-left: 5px;
	padding-top: 8px;
	line-height: 12px;
	vertical-align: top;
	display: block;
	word-spacing: -1px;
}

.generate_btn {
	margin-top: 10px;
	margin-left: 25px;
}
.line {
	width: 142px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999;
	margin-bottom: 4px;
	margin-top: 2px;
	padding-top: 2px;
}
.close_btn {
	float: right;
}
.close_btn2 {
	float: right;
	margin-top: -5px;
	margin-right: -5px;
	margin-bottom: -5px;
	margin-left: 10px;
}
.close_btnbox {
	float: right;
	height: 17px;
	width: 13px;
	margin-top: -2px;
}
#text_container ul {
	width: 142px;
	list-style-type: none;
}
#control2Container #slide_container .control2-listitems li {
	list-style-type: none;
}
#mapcontroller img {
	margin-top: 0px;
	margin-right: -10px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: -10px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#mapcontroller {
	padding: 0px;
	width: 165px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#mapcontroller ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#mapcontroller ul li {
	display: inline;
}

#zoomControls-add, #zoomControls-minus
{
	display:inline;
	float:left;
}
#mapControlsWrapper
{
	margin-top:	20px;
	margin-left:47px;
	margin-bottom:20px;
	
}
#marker-toggle-wrapper,#toggle-bar,#toggle-restaurant,#toggle-gallery,#zoomControlsWrapper
{
	display:inline;
	float:left;
}
#tour
{
	display:inline;
	float:left;
	margin: 5px;
	}
#logowrapper
{
	float:left;
}
#mapControlIcons
{
	display:inline-block;
	margin-top:15px;
	margin-left:10px
}

#control1Slider
{
	background-image:url(../images/slide_btn.jpg);
	 z-index:10000;
	margin-left:245px;
	margin-top:40px;
	position:absolute;
	width:23px;
	height:23px;
}
#control1Slider a
{
	display:block;width:23px;height:23px;
}

#infowindow {
	background-color: #093D5F;
	padding: 8px;
	width: 85px;
	position:relative;
	-moz-box-shadow:0 0 5px #888888;
	-webkit-box-shadow:0 0 5px #888888;
	font-family: 'Museo slab', sans-serif;
	font-size:11px;
	color: #FFF;
}
#infowindow .tel b {
	color: #ff3399;
}
.arrow {
	border-color: transparent transparent #093D5F transparent;
	border-style: solid;
	border-width: 10px;
	height:0;
	width:0;
	position:absolute;
	bottom:40px;
	left:5px;
}
