html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width:100%;
}
#map_canvas {
  margin: 0;
  padding: 0;
  height: 100%;
  width:100%;
}
#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  display:none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.stepModal{
	cursor:pointer;
	z-index:100;
	position:absolute;
	left:50%;
	top:150px;
	margin-left:-150px;
	width:390px;
	height:289px;
	-moz-box-shadow:0 0 5px #888888;
	-webkit-box-shadow:0 0 5px #888888;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #043C5D;
}
.logo {
	background-image: url(../images/logo2.jpg);
	height: 65px;
	background-repeat: no-repeat;
	background-position: center;
	width: 390px;
	background-color: #FFF;
}
.step1 {
	padding: 0px;
	height: 80px;
	width: 390px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
a:link {
	color: #666;
	text-decoration: none;
}
.menu {
	margin-right: 10px;
}
.drop {
	margin-left: 80px;
}
.step2 {
	padding: 0px;
	width: 390px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
